// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-blue: #E6F2F7;
$dark-blue: #67BCD9;
$light-orange: #FFE2B3;
$dark-orange: #FF8C0C;
$light-yellow: #FFF8DB;
