.profile-show-card {
  background-color: #FFF8DB;
  border-radius: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.profile-buttons {
  display: inline-flex;
  gap: 20px;
}


.user-reviews-test, .user-artworks-test {
  border: 1px solid red;
}

.profile-show-all {
  border: 1px solid red;
}

.btn-contact, .btn-offer {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.profile-artwork-cards {
  display: flex;
}
