.h1-offer-details {
  margin-bottom: 20px;
}

.offer-details {
  width: 80%;
  margin: 0 auto;
}

.my-task {
  background-color: #93CDE1;
  border-radius: 10px;
  min-height: 100px;
  margin-right: 20%;
  padding: 20px
}

.username-task {
  background-color: #E6F2F7;
  border-radius: 10px;
  min-height: 100px;
  margin-left: 20%;
  padding: 20px;
}

.my-task-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.exchange-time {
  background-color: #FFF8DB;
  border-radius: 50px;
  padding: 16px;
  // display: flex;
  // flex-direction: column;
  gap: 16px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}

.blue-box {
  background-color: #E6F2F7;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  max-height: 25px;
  width: fit-content;
}

.my-task, .username-task, .exchange-time {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 20px;
}

.exchanges-button {
  display: flex;
  justify-content: center;
}


.both-deposits {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.times {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.time-start, .time-end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressbar {
  background-color: lightgray;
  flex: 1;
}

.actual-start, .actual-end {
  display: flex;
}

.both-deposits .deposit {
  display: flex;
  gap: 10px;
}

.btn-exchanges {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.name-task {
  padding-top: 15px;
  padding-left: 10px;
}

.avatar-offer-details {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.other-task-text {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.other-name-task {
  padding-top: 15px;
  padding-right: 10px;
}
