.h1-offer-details {
  margin-bottom: 40px;
}

.offer-details {
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
}

.my-task {
  background-color: #93CDE1;
  border-radius: 10px;
  min-height: 100px;
  margin-right: 20%;
}

.username-task {
  background-color: #E6F2F7;
  border-radius: 10px;
  min-height: 100px;
  margin-left: 20%;
}


.exchange-time {
  background-color: #FFF8DB;
  border-radius: 50px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 10%;
  margin-right: 10%;
}

.blue-box {
  background-color: #E6F2F7;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  max-height: 25px;
  width: fit-content;
}

.my-task, .username-task, .exchange-time {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 20px;
}

.exchanges-button {
  display: flex;
  justify-content: center;
}


.both-deposits {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.times {
  display: flex;
  gap: 12px;
}

.time-start, .time-end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressbar {
  background-color: lightgray;
  flex: 1;
}

.actual-start, .actual-end {
  display: flex;
}

.other-task-text {
  text-align: right;
}

.both-deposits .deposit {
  display: flex;
  gap: 10px;
}

.btn-exchanges {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
