<div data-controller="search-contacts"> <!-- search bar + contact cards - style this -->
  <div> <!-- search bar - style this -->
    <div> 
      <%= form_with url: conversations_path, method: :get, html: {class:
          "mb-4", data: {search_contacts_target: "form"}} do |f| %>
          <%= f.text_field :query,
              class: "form-control",
              placeholder: "Search contacts...",
              value: params[:query],
              data: {
                search_contacts_target: "input",
                action: "keyup->search-contacts#update"
              } %>

        <% end %>
    </div>
  </div>

 <%= render "list", conversation: @conversation %>
</div>
