<!DOCTYPE html>
<html>
  <head>
    <link "rel=stylesheet" href="style.css">
  </head>
  <body>
    <div class="navbar">
      <img src="" id="logo">
       search bar
       icons
       avatar
    </div>
      <div class="container" id="index_results">
        <h1>14 people found near you</h1>
        <div> <!-- This is the div that contains the cards divs -->
           <div class="d-flex justify-content-between"> <!-- This is the div for each card -->
            <% @users.each do |user| %>
              <img src="" class="index_card_images"> <!-- These are the index cards -->
                <p><%=link_to user.first_name, artist_path(user)%></p>
                <p><%=user.last_name %></p>
                <p>Skill</p>
                <p>Rating</p>
                <p><%=user.location %></p>
          </div>
        </div>
      </div>
      <div>
        map
      </div>
    </body>
  </html>
<!-- end of file -->
