

    <%# <div class="col-6 col-md-5">
      <div class="progress_bar">
        <div class="progress" >
            <div class="progress-bar" style="width:50%;">
          </div>
        </div>
      </div>
    </div> %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Progress bar </title>
    <style>
      .progress {
        position: relative;
        width: 200px;
        height:30px;
        background: orange;
        border-radius: 5px;
        overflow: hidden;
      }
      .progress__fill {
        height:100%;
        background: blue;
      }
      .progress__text {
        position: absolute;
        top:50%;
        right:5px;
        transform: translateY(-50%)
      }
    </style>
<head>
<body>
  <% completion_percent = 90 %>
  <div class="progress">
    <div class="progress__fill" style="width: <%= completion_percent %>%;"></div>
    <span class="progress__text"><%= completion_percent %>%</span>
  </div>

  <script>
    function updateProgressBar(progressBar, value) {

      progressBar.querySelector(".progress__fill").style.width =`${value}%`
      progressBar.querySelector(".progress__text").text.Content =`${value}%`
    }
  </script>
</body>
</html>
