<div class="searchbar-container">
  <div class="searchbar-iph-container">
    <div class="searchbar-icone-ph">
      <img src="pinceau-dartiste.png" class="img-1" alt="">
      <input type="text" placeholder="1000">
    </div>
    <div class="searchbar-icone-ph">
      <img src="localisateur.png" class="img-2" alt="">
      <input list="location">
      <datalist id="location">
          <option value="Montreal">
          <option value="Laval">
          <option value="Toronto">
      </datalist>
    </div>
  </div>
</div>
