<div class="searchbar-container">
  <div class="searchbar-iph-container">
    <div class="searchbar-icone-ph">
      <%= image_tag "pinceau-dartiste.png", class: "img-1"%>
      <input type="text" placeholder="Skills...">
    </div>
    <div class="searchbar-icone-ph">
      <%= image_tag "localisateur.png", class: "img-2" %>
      <input list="location" placeholder="Location...">
      <datalist id="location">
          <option value="Montreal">
          <option value="Laval">
          <option value="Toronto">
      </datalist>
    </div>
  </div>
  <div class="searchbar-arrow">
    <%= image_tag "fleche-droite.png", class: "arrow"%>
  </div>
</div>
