
<div class="tube" >
  <div class="row">
    <div class="col-1">
      <div class="tube-avatar" >
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/2ChocolateChipCookies.jpg/800px-2ChocolateChipCookies.jpg" alt="user's avatar">
      <%# need to change img src to image tag %>
      </div>
    </div>
      <div class="col-3">
        <div class="tube-username" >
          <p> username </p>
        </div>
      </div>
        <div class="col-1">
          <div class="tube-rating" >
          <p> rating/5 </p>
          </div>
        </div>
          <div class="col-1">
            <div class="tube-rating_stars" >
              <p> stars </p>
          </div>
            </div>
            <div class="col-5">
              <div class="tube-comment" >
                <p> commments </p>
          </div>
            </div>
      </div>
    </div>
</div>
