<div class="row justify-content-center align-items-center">
  <h1 class="row justify-content-center align-items-center">bARTers<h1>
  <h2 class ="row justify-content-center align-items-center">exchanging art services without money, connecting the art community together</h2>
</div>
