<h1>apps views pages "'home.html.erb'" </h1>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>This is the landing page where visitors can see some artists and where they can search</p>


