<h1>FROM ARTISANS TO ARTISANS</h1>
<h2 style="color:orange;"> Find your bARTers community! </h2>
<h2>How does it work?</h2>

<div class="cards-container">
    <div class="card-container">
        <div class="form-1">
            <div class="img-container">
                <%= image_tag "undraw_pen_tool_re_s92o.svg", class:"img-exchange" %>
            </div>
        </div>
        <div class="info-container">
            <h2>Exchange <br> tools</h2>
            <p class="description-exchange">You can use bARTers to find an Artisan with whom you can borrow or exchange tools, without the exchange of money.</p>
        </div>
    </div>

    <div class="card-container">
        <div class="form-2">
            <div class="img-container">
              <%= image_tag "undraw_design_team_re_gh2d (1).svg", class:"img-exchange" %>
            </div>
        </div>
        <div class="info-container">
            <h2>Exchange <br> artworks</h2>
            <p class="description-exchange">You can use bARTers to find an Artisan with whom you can borrow or exchange artworks, without the exchange of money.</p>
        </div>
    </div>

    <div class="card-container">
        <div class="form-3">
            <div class="img-container">
                <%= image_tag "undraw_interview_re_e5jn.svg", class:"img-exchange" %>
            </div>
        </div>
        <div class="info-container">
            <h2>Exchange <br> services</h2>
                <p class="description-exchange">You can use bARTers to find an Artisan with whom you can exchange art services, without the exchange of money.</p>
        </div>
    </div>
</div>
