<div id="<%= dom_id offer %>">
  <p>
    <strong>Offer with</strong><%= offer.collaborator.first_name %>
  </p>

  <p>
    <strong>From:</strong>
    <%= offer.start_date %>
  </p>

  <p>
    <strong>To:</strong>
    <%= offer.end_date %>
  </p>

 </div>
