<h1>apps views offers "'show.html.erb'" </h1>
<h1>app views offers "show.html.erb" </h1>
<h2>this is the show of offers</h2>

<%= render "offers", offer: @offer %>

<%# <%= button_to "Accept", accept_offer_path(offer), method: :patch %>
<%#= button_to "Reject", reject_offer_path(offer), method: :patch %>
