<h1>apps views offers "'user_offers.html.erb'" </h1>

<h1>Offers for me</h1>


<%# <%= link_to "offer", show_offer_path(offer) %>

  <%# <% @offers.each do |offer| %> %>

<%# <% if offer.pending? %> %>
        <%# <%= button_to "Accept", offer_accept_path(offer), class: 'btn1', method: :patch %> %>
        <%# <%= button_to "Decline", offer_decline_path(offer), class: 'btn1', method: :patch %> %>
      <%# <% end %> %> %>
