.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  // height: 200px;
  border-radius: 0;
}

.container-fluid{
  width: 100%;
  height: 100px;
}

// .logo-barter{
//   width: 100px;
//   height: 80px;
// }
